<h1>Need Musix?</h1>
<p class="lead">
  songs<br>
  all you need is ocesad abd a mostly barebones HTML document <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>
<form action="">
  <div class="form-group">
    <input type="test" class="form-control" placeholder="search music" (keyup)="searchMusic()" [(ngModel)]="searchStr">
  </div>
</form>
<div *ngIf="SearchRes">
  <div *ngFor="let res of SearchRes">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <h4>{{res.name}}</h4>
          <div>
            <strong>genre:</strong>
            <span *ngFor="let genre of res.genres">
              <span>{{genre}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
